<template>
  <div class="question-box-container">
    <b-jumbotron>
      <template slot="lead">{{currentQuestion.question}}</template>

      <hr class="my-4" />

      <b-list-group
        class="col-10 m-auto"
        v-for="(answer, index) in answers"
        :key="index"
        @click="selectAnswer(index)"
      >
        <b-list-group-item
          @click="selectAnswer(index)"
          v-bind:class="answerClass(index)"
        >{{answer}}</b-list-group-item>
      </b-list-group>
      <b-button variant="primary m-3"
      v-on:click="submitAnswer"
      :disabled="selectedIndex===null || answered"
      >
        Sumbit
      </b-button>
      <b-button @click="next" variant="success m-2" href="#">Next</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    currentQuestion: Object,
    next: Function,
    increment: Function
  },
  data: function() {
    return {
      selectedIndex: null,
      correctIndex: null,
      shuffledAnswers: [],
      answered:false
    };
  },
  computed: {
    answers() {
      let answers = [...this.currentQuestion.incorrect_answers];
      answers.push(this.currentQuestion.correct_answer);
      return answers;
    }
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null
        this.answered = false
        this.shuffleAnswers()
      }
    }
  },
  methods: {
    selectAnswer(index) {
      this.selectedIndex = index;
    },
    shuffleAnswers() {
      let answers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer
      ];
      this.shuffledAnswers = _.shuffle(answers);
      this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
    },
    submitAnswer(){
      let isCorrect = false
      if(this.selectedIndex===this.correctIndex){
        isCorrect = true
      }
      this.answered=true
      this.increment(isCorrect)
    },
    answerClass(index){
      let answerClass = ''
          if(!this.answered && this.selectedIndex == index){
            answerClass = 'selected'
          }else if (this.answered && this.correctIndex === index){
            answerClass = 'correct'
          }else if ( this.answered && this.selectedIndex === index && this.correctIndex !== index){
            answerClass = 'incorrect'
          }
      return answerClass
    }
  },
  mounted() {
    this.shuffleAnswers();
  }
};
</script>

<style scoped>
.list-group-item:hover {
  cursor: pointer;
  background-color: lightgray;
}

.selected {
  background-color: lightskyblue;
}
.correct {
  background-color: lightgreen;
}
.incorrect {
  background-color: lightcoral;
}
</style>
